/*
//
// COLORS
// and color functions
//
*/

// make sure to import Foundation's color functions
@import "helpers/functions";

$spheric-colors: (
  'primary':  $primary-color, // blue
  'accent':   $info-color,    // gold
  'alert':    $warning-color, // red
  'success':  $success-color, // green
  'white':    $secondary-color,
  'light':    $gray-light,
  'dark':     $dark-color
);

$spheric-opacities: (
  'default':    1,
  'secondary': .8,
  'tertiary':  .4,
  'barely':    .1,
  'hidden':     0,
);

@function color-opacity($color, $opacity: 1) {

  // Use the number supplied if not a map key
  $alpha: if(type-of($opacity) == 'number', $opacity, map-get($spheric-opacities, $opacity));

  @if $alpha {
    $color: rgba($color, $alpha);
  }

  @return $color;
}

// MAIN FUNCTION TO USE FOR COLORING

@function spheric-color($name, $opacity: 1, $shade: 0%) {

  $color: map-get($spheric-colors, $name);

  // first find the shade
  $color: smartscale($color, $shade);

  // then find the opacity
  $color: color-opacity($color, $opacity);

  @return $color;
}