/*
//
// FORMS
//
*/

label {
  font-weight: $font-weight-bold;
}

// target inputs via Foundation's list
#{$text-input-selectors} {
  // unbold text input since label wraps around it
  font-weight: $font-weight-normal;
  border-radius: $global-radius;

  // make sure everything transitions
  @include basic-transition;

  // add shadow on focus
  &:focus, &:active {
    @include shadow-3dp;
  }
}

// remove rounded corners of inputs near inline labels
.inline-label {
  input:not(:first-child) {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
  input:not(:last-child) {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
}

// INLINE LABEL WITH BUTTON

// alter position of inline label so it appears inside the input
.inline-label {
  position: relative;

  .button {
    position: absolute;
    top: 0;
    bottom: 0;

    @extend .transparent;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .button:not(:last-child) {
    left: 0;
  }

  textarea:not(:first-child),
  input:not(:first-child) {
    padding-left: 4rem;
  }

  .button:last-child {
    right: 0;
  }

  textarea:not(:last-child),
  input:not(:last-child) {
    padding-right: 4rem;
  }

  textarea {
    margin-bottom: 0;

    + .button {
      padding-right: 2rem; // accomodate for possible scrollbar
    }
  }
}


// TYPES OF CUSTOM FORMS

.search-condensed {
  position: relative;

  .button {
    padding-left: 1rem;
    padding-right: 1rem;

    position: absolute;
    right: 0;
    top: 0;

    margin: 0;
  }
}