/*
//
// FORMS
//
*/

label {
  font-weight: $font-weight-bold;
}

// target inputs via Foundation's list
#{$text-input-selectors} {
  // unbold text input since label wraps around it
  font-weight: $font-weight-normal;
  border-radius: $global-radius;

  // make sure everything transitions
  @include basic-transition;

  // add shadow on focus
  &:focus, &:active {
    @include shadow-3dp;
  }
}

// remove rounded corners of inputs near inline labels
.inline-label {
  input:not(:first-child) {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
  input:not(:last-child) {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
}

// TYPES OF CUSTOM FORMS

.search-condensed {
  position: relative;

  .button {
    padding-left: 1rem;
    padding-right: 1rem;

    position: absolute;
    right: 0;
    top: 0;

    margin: 0;
  }
}