/*
//
// GRID
//
*/

// make sure the body doesn't scroll
body {
  overflow: hidden;
}

// To give the app a max-width,
// add the class .grid-container to the .grid-frame in index.html

// The max-width size is set in _settings
.grid-frame {
  background-color: spheric-color('white');

  &.grid-container {
    @include shadow-4dp;
  }
}

// quick footer styles
main + footer {
  background-color: spheric-color('light');

  p {
    text-align: center;
    padding: 3rem 0;
    margin-bottom: 0;
  }
}
