/*
//
// TABLES
//
*/

$table-striped-background: spheric-color('light', .4);
$table-hover-background: spheric-color('primary', .1, -10);
$table-border-color: spheric-color('light', .7);

// BASIC STYLES
// None are included in Foundation for Apps

table {
  min-width: 100%;

  th, td {
    padding: $global-padding;

    &:not(:last-child) {
      padding-right: 0;
    }
  }

  thead,
  tr {
    border-bottom: 1px solid $table-border-color;
    @include basic-transition;
  }

  th {
    @extend %h6;
    text-align: left;
  }

  .actions {
    text-align: right;
  }

  .button {
    margin-bottom: 0;

    &:last-of-type {
      margin-right: 0;
    }
  }

  &.zebra {
    tr:nth-child(even) {
      background-color: $table-striped-background;
    }
  }

  &.selectable {
    tbody tr:hover {
      background-color: $table-hover-background;
    }
  }

}