/*
//
// TABLES
//
*/

$table-striped-background: spheric-color('light', .4);

// BASIC STYLES
// None are included in Foundation for Apps

table {
  width: 100%;

  th, td {
    padding: $global-padding;

    &:not(:last-child) {
      padding-right: 0;
    }
  }

  th {
    @extend %h6;
    text-align: left;

    border-bottom: 1px solid $table-striped-background;
  }

  &.zebra {
    tr:nth-child(even) {
      background-color: $table-striped-background;
    }
  }

  .button {
    margin-bottom: 0;

    &:last-of-type {
      margin-right: 0;
    }
  }

}