/*
//
// TYPOGRAPHY
//
*/


// CUSTOM MIXINS
// ---------------------

// force the wrapping of long links/emails/etc.
@mixin force-wrap() {
	overflow-wrap: break-word;
	word-wrap: break-word;
	-ms-word-break: break-all;
	/* This is the dangerous one in WebKit, as it breaks things wherever */
	word-break: break-all;
	/* Instead use this non-standard one: */
	word-break: break-word;
}

@mixin force-truncate($width: 100%) {
	width: $width;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

// Force-truncate only works with one-line text
// The following isn't perfect and a library like http://mikeking.io/succinct/ may be a better choice
@mixin fake-truncate($height: 2) {
  $height: $paragraph-line-height*$height;
  height: #{$height}rem;
  overflow: hidden;
  position: relative;

  padding-right: 1rem;

  &::after {
    position: absolute;
    right: 0px;
    bottom: 0px;

    width: 1rem;
    height: $paragraph-line-height;
    content: "...";
    text-align: right;
  }
}

@mixin no-break() {
	white-space: nowrap;
}


/// CUSTOM STYLES
// ---------------------

// Headers
h4 {
  font-weight: bold;
}

// use extension here to be able to apply same styling to non header elements
%h6 {
  font-weight: $font-weight-bold;
  font-size: .9em;
  text-transform: uppercase;
  letter-spacing: .05em;
}

h6 {
  @extend %h6;
}

// section headers
section h2 {
  font-weight: $font-weight-bold;
  //text-transform: uppercase;
  color: spheric-color('dark', 'secondary');
  font-size: $h2-font-size*.8;
  margin: 2rem 0 1rem;
}

// make sure all anchor (link) tags have smooth transitions between states
a {
  @include basic-transition;
}

// adding a class for p tags that sets a max width for ideal line length
.ideal {
	max-width: 36em;

	// make sure text stays centered
	&.text-center {
		margin-left: auto;
		margin-right: auto;
	}
}

dl.inline {
  dt, dd {
    display: inline-block;
  }

  dd {
    margin-left: 1rem;
  }
}