/*
//
// MAIN NAVIGATION
// Based on Foundation's menu-bar
//
*/

// custom breakpoint where all links become visible
$nav-main-breakpoint: rem-calc(860);
$nav-sidebar-width: 3;

$nav-main-background: spheric-color('primary');
$nav-main-foreground: spheric-color('white');

$nav-panel-zindex: 20;

#nav_main {
	// stretch full to sides of window
	padding-left: 0;
	padding-right: 0;
	margin-left: -$block-padding;
	margin-right: -$block-padding;

	// on small screens, affix it to the top of the window
	@include breakpoint(small only) {
  	position: fixed;
  	width: 100%;
  	z-index: $nav-panel-zindex - 1;
  	@include shadow-3dp;
	}

	.logo > img {
	  // override menu bar image sizing
  	width: auto;
  	height: auto;
  	// add padding
  	padding-left: $menubar-item-padding;
  	padding-right: $menubar-item-padding;
	}

	// Use Foundation's mixin for colors(style) since there will be a lot of adjustments
	.primary-custom {
    background-color: $nav-main-background;

    .menu-bar {
      @include menu-bar-style(
        $background: transparent,
        $background-hover: transparent,
        $background-active: transparent,
        $color: color-opacity($nav-main-foreground, 'secondary'),
        $color-hover: $nav-main-foreground,
        $color-active: $nav-main-foreground,
        $autocolor: false
      );

      li > a {
        @extend %h6;
      }
    }

    @include breakpoint($nav-main-breakpoint) {
      border-bottom: 1px solid spheric-color('light', 'barely');

      // remove background on larger screens
      background: none;

      .menu-bar:last-child {
        // and increase height
        padding-top: $global-padding;
        padding-bottom: $global-padding;
        border-left: 1px solid spheric-color('light', 'barely');
      }
    }
  }

  .label-corner-custom {
    // Use Foundation's mixin for labels since there will be a lot of adjustments
    @include menu-bar-labels(
      $x: right,
      $y: top,
      $size: 1.2rem,
      $background: spheric-color('alert')
    );
    // pull label closer to text (overlapping just slightly)
    > li > a {
      padding-right: $menubar-item-padding*1.5;
      // match the same padding on the left
      padding-left: $menubar-item-padding*1.5;
    }
    .menu-bar-label {
      // Foundation doesn't correctly align label-corner to the top
    	top: $menubar-item-padding/2;
    	right: $menubar-item-padding/1.5;
    	// alter font
    	font-size: .7rem;
    	font-weight: $font-weight-bold;

    	@include breakpoint(small only) {
      	position: static;
      	display: inline-block;
    	}
  	}
  }
}

#nav_main_brand {
  @include breakpoint($nav-main-breakpoint) {
    .toggle {
      display: none;
    }
  }
}

// Pull the main links out into a sliding panel on small screens
#nav_main_links {
  // extend panels
  @extend .panel;
  position: fixed;
  background: $nav-main-background;

  li.close {
    position: absolute;
    top: 0;
    left: 0;
  }

  // add triangle pointing up to active nav item
  .is-active a::after {
    @include css-triangle(
      $triangle-size: 4px,
      $triangle-color: $nav-main-foreground,
      $triangle-direction: left
    );
    // position it so it doesn't alter layout
    position: absolute;
    left: .8rem;
    bottom: 1.5rem;
  }

  // put them back into the menu-bar when breakpoint is hit
  @include breakpoint($nav-main-breakpoint) {
    display: block;
    @include grid-panel-reset;

    .menu-bar {
      flex-flow: row nowrap;
    }

    .is-active a::after {
      // position underneath for larger screens and rotate
      transform: rotate(-90deg);
      transform-origin: center;
      left: calc(50% - 4px);
      bottom: 0;
    }
  }
}

#small_nav_main_user {
  height: $panel-size-horizontal/1.7;
  background: $blue-gray-gradient-transparent,
              url(https://source.unsplash.com/featured/?sky?night?stars) no-repeat center;
  background-size: auto, cover;
  padding: $global-padding*2.2 $global-padding $global-padding;

  .inner {
    display: flex;
    height: 100%;
    align-items: center;
  }

  .user-image {
    margin-right: 1rem;
  }

  .user-name {
    font-size: $h3-font-size;
    color: $nav-main-foreground;
  }

  a {
    @extend %h6;
    font-size: .8em;
    color: spheric-color('white', 'tertiary');
    &:first-of-type {
      display: inline-block;
      margin-right: 1.5rem;
    }
  }
}

#nav_main_user {
  a {
    padding-top: 5px;
    padding-bottom: 5px;
  }

  .user-image {
    box-shadow: none;
  }
}