/*
//
// PAGE HEADER
//
*/

$page-header-background: spheric-color('primary');
$page-header-foreground: spheric-color('white');

$nav-main-small-height: rem-calc(56);

$cta-zindex: $nav-panel-zindex - 1;

@mixin page-header-margin-after($padding: 2rem) {
  + section {
    padding-top: $padding + $nav-main-small-height;

    @include breakpoint(medium) {
      padding-top: $padding;
    }
  }
}

.page-header {

  background: $page-header-background;

  header {

    padding-top: 6rem;
    padding-bottom: 2rem;

    @include breakpoint(medium) {
      padding-top: 4rem;
      padding-bottom: 4rem;
    }

  }

  #{$headers} {
    color: $page-header-foreground;

    &.subheader {
      color: color-opacity($page-header-foreground, 'secondary');
    }
  }

  h1 {
    font-family: $headline-font-family;
    font-weight: $font-weight-extra;
    text-transform: uppercase;
  }


  form {
    max-width: 30rem;
    margin-left: auto;
    margin-right: auto;
  }

  span.inline-label {
    margin-bottom: 0;
  }

  input {
    border-color: $input-background;

    &:hover, &:active {
      border-color: spheric-color('primary');
    }
  }

  ul {
    margin-bottom: 0;
  }

  .cta-buttons {
    margin: 0;
    text-align: right;

    .button {
      @include button-expand;
    }

    > li:last-child .button {
      margin-bottom: 0;
    }
  }

  .stats {
    margin-top: 2rem;

    h6 {
      font-size: .8em;
      margin-bottom: .25rem;
    }

    h3 {
      margin-bottom: 0;
      font-size: $h2-font-size;
    }

    @include breakpoint(medium) {
      // align right of image
      margin-left: $images-size-profile + $global-padding;

      .grid-content {
        flex-grow: 0;
      }

      .cta-buttons .button {
        @include shadow-6dp;
      }
    }
  }

  // TYPES
  &.image {
    background: $blue-gray-gradient;

    position: relative;
    z-index: 1;

    // add an image behind both this but above the background color
    &::before {
      content: "";
      display: block;
      position: absolute;
      z-index: -1;
      left: 0;
      right: 0;
      bottom: 0;
      top: 0;

      background: url(https://source.unsplash.com/featured/?sky?night?stars) no-repeat center center;
      background-size: cover;
      opacity: .2;
    }
  }

  .profile {
    text-align: center;

    #{$all-images} {
      @include shadow-3dp;
      margin-bottom: 2rem;
      border: 3px solid spheric-color('white', .6);
    }

    .secondary {
      margin-bottom: 0;
      opacity: .5;
    }

    @include breakpoint(medium) {
      h2 {
        font-size: $h1-font-size;
      }
      text-align: left;
      #{$all-images} {
        margin-bottom: 0;
      }
    }
  }

  &.with-back {
    position: relative;
    a.back {
      padding: 1rem;
      position: absolute;
      z-index: 10;
      left: 0;
      top: 3rem;
      color: $page-header-foreground;
      font-size: 2em;
      @extend .show-for-small-only;
    }
  }

}


// CUSTOM CTA BUTTONS
// they are fixed to the bottom of the window and expand when on small devices
@include breakpoint(small only) {
  .page-header.with-ctas .cta-buttons {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    border-radius: 0;
    @include shadow-4dp;
    z-index: $cta-zindex;

    @include button-group-expand($stretch: true);
    .button {
      margin: 0;
      border-radius: 0;
    }
  }

  // accomodate for cta buttons being fixed to the bottom of small screens
  .page-header.with-ctas + * {
    margin-bottom: 3rem;
  }
}