/*
//
// SIDEBAR
// For user-specific info
//
*/

$sidebar-breakpoint: $nav-main-breakpoint;
$sidebar-width: $nav-sidebar-width;

$sidebar-background: spheric-color('light');
$sidebar-foreground: spheric-color('dark', 'secondary');

.sidebar {
  &.panel {
    background-color: $sidebar-background;
  }

  // always display once breakpoint is hit
  @include breakpoint($sidebar-breakpoint) {
    @include grid-panel-reset;
    @include grid-block($sidebar-width);

    // hard remove drop shadow in case active class stays with during window resize
    &.is-active {
      box-shadow: none !important;
    }
  }
}

// hide the buttons when not hideable
.sidebar .close-button,
.toggle-sidebar {
  @include hide-for($sidebar-breakpoint);
}


// SIDEBAR BLOCK LIST
// based on Foundation's block-list via mixins

.sidebar-block-list {
  // This gets you basic styles
  @include block-list-container();

  // add a border to the bottom that doesn't span the whole width
  &:not(:last-child)::after {
    content: "";
    display: block;
    width: 90%;
    margin: 0 auto;
    height: 1px;
    background-color: color-opacity($sidebar-foreground, 'barely');
  }

  header {
    @include block-list-header(
      $color: color-opacity($sidebar-foreground, 'tertiary'),
      $font-size: .8rem,
      $uppercase: true,
      $offset: 0
    );

    text-align: center;
    margin-top: 2rem;
    margin-bottom: 1rem;
  }

  li {
    @include block-list-item(
      $color: $sidebar-foreground,
      $color-hover: $sidebar-foreground,
      $color-disabled: color-opacity($sidebar-foreground, 'tertiary'),
      $background: transparent,
      $background-hover: color-shade($sidebar-background, $shade: 4),
      $border: none,
      $padding: $global-padding
    );
  }
}