/*
//
// SIDEBAR
// For user-specific info
//
*/

$sidebar-breakpoint: $nav-main-breakpoint;
$sidebar-width: $nav-sidebar-width;

.sidebar {
  &.panel {
    background-color: $gray-light;
  }

  // always display once breakpoint is hit
  @include breakpoint($sidebar-breakpoint) {
    @include grid-panel-reset;
    @include grid-block($sidebar-width);

    // hard remove drop shadow in case active class stays with during window resize
    &.is-active {
      box-shadow: none !important;
    }
  }
}

// hide the buttons when not hideable
.sidebar .close-button,
.toggle-sidebar {
  @include hide-for($sidebar-breakpoint);
}