<div class="message grid-block nowrap">
  <div class="player grid-content shrink">
    <a ui-sref="player"><span ng-include="'templates/components/_user-image.html'" class="small"></span></a>
  </div>
  <div class="content grid-content collapse">
    <div class="card flat">
      <div class="card-section">
        <p class="username"><a ui-sref="player">User Name</a> &emsp; <span class="subheader">3:{{((10 * ($index + 1))/2)+5}}</span></p>
        <p class="text">Pinterest kickstarter retro waistcoat kinfolk, slow-carb pug forage plaid normcore.  Meditation kogi chia tofu, brunch marfa sriracha ethical. <span ng-if="$even">Asymmetrical meditation twee fixie, wayfarers yr sartorial DIY readymade flannel stumptown.  Everyday carry pork belly raw denim.</span></p>
      </div>
    </div>
  </div>
</div>