/*
//
// GROUPS
//
*/

$group-post-border: 1px solid spheric-color('dark', 'barely');

.column-title {
  @extend %h6;
  color: spheric-color('dark', 'tertiary');
  text-align: center;
}

// GROUP POSTS

.group-post {
  margin-bottom: 2rem;

  .author,
  .add-comment,
  .content > .text {
    padding: $global-padding;

    // TODO: Create Mixin
    > :first-child {
      margin-top: 0;
    }

    > :last-child {
      margin-bottom: 0;
    }

    border-bottom: $group-post-border;
  }

  .author {
    p {
      margin-bottom: 0;
    }
  }

  .content p {
    font-size: 1.1rem;
  }

  .actions {
    padding: $global-padding/1.5 0;
    border-bottom: $group-post-border;

    a, span {
      padding: 0 $global-padding;
    }

    i {
      margin-right: .5em;
    }
  }

  .collapse {
    padding-left: $global-padding;
  }

  .comments {
    background-color: spheric-color('dark', 'barely', 30);

    .accordion-title {
      padding: $global-padding/1.5;
      border-bottom: $group-post-border;
      @extend %h6;
      color: spheric-color('dark', 'secondary');
    }

    li {
      padding: $global-padding/1.5 $global-padding;
      border-bottom: $group-post-border;
      p {
        margin-bottom: 0;
      }
    }
  }

  .add-comment {
    .inline-label {
      margin: 0;
    }
  }

  @include breakpoint(medium) {
    margin-bottom: 4rem;
  }

}

// GROUPS INDEX PAGE

#groups-header {
  @include page-header-margin-after;
}

#groups-list {
  @include breakpoint(medium) {
    .accordion-title {
      padding-left: 0;
      border-bottom: 1px solid spheric-color('light', 'secondary');
      margin-bottom:  1rem;
    }
  }
}

// SINGLE GROUP PAGE

#group-header + section {
  padding-top: 2rem;
}

#group-content {
  .members {
    li {
      margin-top: $global-padding/2;
      margin-bottom: $global-padding/2;
      justify-content: flex-start;
      flex-grow: 0;
    }
  }
}

#group-extras {
  background-color: transparent;
}

// MODAL FOR CREATING A NEW POST

#create-post {
  .modal {
    .title {
      margin-top: $global-padding;
      margin-bottom: $global-padding;
    }
    hr {
      margin-bottom: $global-padding;
    }
    button {
      margin-right: 0;
    }
  }
}
