/*
//
// MESSAGES
//
*/

$messages-background: spheric-color('white');

#messages-page .page-header + section {
  padding-top: $nav-main-small-height;

  @include breakpoint(medium) {
    padding-top: 0;
  }
}

#messages-holder {
  @include breakpoint(medium) {
    // adding .grid-container messes with vertical heights and scrolling
    // manually set max-width here and align using flex-box
    max-width: $container-width;
    align-self: center;

    overflow: visible; // make sure the content's shadow is visible
  }
}

#messages-content-holder {
  @include breakpoint(medium) {
    padding: $global-padding;

    > div {
      // style the main content like a card
      background-color: $card-background;
      @include shadow-2dp;
      border-radius: $global-radius;
    }
  }
}

#messages-sidebar-medium {
  width: 300px;
}

#messages-list {
  form {
    margin-top: $global-padding;
  }

  @include breakpoint(small only) {
    padding-left: $block-padding;
    padding-right: $block-padding;
  }
}

#message-title {
  background-color: $card-background;

  > div {
    padding-top: $global-padding/2;
    padding-bottom: $global-padding/2;
    border-bottom: 1px solid spheric-color('dark', 'barely');
  }

  .v-align.nowrap {
    align-items: center;
  }

  .truncate {
    @include force-truncate;
  }

  #{$headers} {
    margin: 0;
  }

  .button {
    margin: 0;
    font-size: rem-calc(16);

    &.back {
      font-size: rem-calc(24);
      color: spheric-color('primary');
    }
  }

  h2 {
    line-height: 1.4em;
    font-weight: $font-weight-bold;
    //text-transform: uppercase;
    @include force-truncate;
  }

  span {
    margin-right: .5rem;
  }

  @include breakpoint(medium) {
    h2 {
      padding-left: $global-padding;
    }
  }
}

#messages-content {

  .message {
    margin-top: $global-padding;
    margin-bottom: $global-padding;
    padding-right: $global-padding;
  }

  .player {
    padding-top: $global-padding*.6;
  }

  .content {
    position: relative;

    &::after {
      @include css-triangle(
        $triangle-size: 8px,
        $triangle-color: $card-background,
        $triangle-direction: right
      );

      position: absolute;
      left: -16px;
      top: 20px;
    }
  }

  .username {
    margin-bottom: .5rem;
  }

  .date {
    p {
      @extend %h6;
      margin-top: -1.2rem;
      span {
        background-color: $card-background;
        padding-left: $global-padding;
        padding-right: $global-padding;
      }
    }
  }

  @include breakpoint(medium) {
    .message {
      margin-top: 2rem;
      margin-bottom: 2rem;
      padding-right: 3rem;
    }

    .content::after {
      border-right-color: spheric-color('light');
    }

    .card {
      border: 1px solid spheric-color('light');
    }

    .text {
      font-size: 1.1em;
    }
  }
}

#messages-input {
  padding-top: $global-padding;
  border-top: 1px solid spheric-color('dark', 'barely');
}