/*
//
// PLAYERS
//
*/


// BOTH PAGES

#players-page {
  .page-header {
    @include page-header-margin-after;
  }
}

#player-page {
  .page-header.image::before {
    background-image: url(https://source.unsplash.com/featured/people);
  }
}

// SEARCH PAGE

#players-search {
  form {
    max-width: 48rem;
    margin-left: auto;
    margin-right: auto;
  }

  @include breakpoint(medium) {
    form {
      margin-bottom: 4rem;
    }

    .accordion-title {
      display: none;
    }

    select {
      margin-bottom: 0;
      background-color: transparent;
      border-width: 0 0 1px 0;
    }
  }
}

#players-search-description {
  margin-bottom: 2rem;
  color: spheric-color('dark', 'secondary');
}

#players-results {

  ul {
    li {
      min-width: 33%;
      margin-bottom: $global-padding;

      @include breakpoint(medium) {
        // Safari will render too many in a row by just setting a min width
        // so to make sure there is only 3, set the flex-basis to 33% as well
        // but only when on larger screens
        flex-basis: 33%;
      }


    }
  }

  .card-section {
    float: left;
  }

  .label {
    background-color: transparent;
    border: 1px solid spheric-color('dark', 'tertiary');
    color: spheric-color('dark', 'secondary');
    margin-top: .5rem;
  }

  @include breakpoint(medium) {

    .card-section {
      float: none;
      text-align: center;

      &:first-child {
        padding-bottom: 0;
      }
      &:last-child {
        padding-top: $global-padding/2;
      }
    }

  }

}

// INDIVIDUAL PAGE

// let the content dictate when they should be on their own row
#player-recent-matches,
#player-gaming-profile {
  flex-grow: 1;
  flex-shrink: 1;
  max-width: none;
}

#player-gaming-profile {
  dt,
  .track .header {
    @extend %h6;
    color: spheric-color('dark', 'tertiary');
  }

  .card {
    margin-bottom: 2rem;
  }

  .poster {
    background: $blue-gray-gradient-transparent,
                url(https://source.unsplash.com/1600x900/?game) no-repeat center;
    background-size: cover;
  }

  .title,
  .track .stat {
    font-family: $headline-font-family;
    font-weight: $font-weight-extra;
    text-transform: uppercase;
  }

  .title {
    margin-top: $global-padding;
  }

  dl {
    margin-bottom: $global-padding;
  }

  .track {
    align-self: center;
    text-align: center;
    margin-right: $global-padding;

    .stat {
      font-size: 2em;
      color: spheric-color('primary');
    }
  }

  @include breakpoint(small only) {
    .poster {
      display: none;
    }
    .content {
      margin-left: $global-padding;
    }
  }

}

