/*
//
// PLAYERS
//
*/

#players-results {

  .card-section {
    text-align: center;
  }

  .label {
    background-color: transparent;
    border: 1px solid spheric-color('dark', 'tertiary');
    color: spheric-color('dark', 'secondary');
    margin-top: .5rem;
  }

}