/*
//
// PLAYERS
//
*/


// BOTH PAGES

#players-page,
#player-page {

  .page-header.image::before {
    background-image: url(https://source.unsplash.com/category/people);
  }

  .page-header {
    @include page-header-margin-after;
  }
}

// SEARCH PAGE

#players-results {

  .card-section {
    text-align: center;
  }

  .label {
    background-color: transparent;
    border: 1px solid spheric-color('dark', 'tertiary');
    color: spheric-color('dark', 'secondary');
    margin-top: .5rem;
  }

}

