/*
//
// PLAYERS
//
*/


// BOTH PAGES

#teams-page {
  .page-header {
    @include page-header-margin-after;
  }
}

// SEARCH PAGE


// INDIVIDUAL PAGE

#team-page {
  .page-header.image::before {
    background-image: url(https://source.unsplash.com/featured/nature);
  }

  table {
    .tournament {
      text-align: right;
    }

    .vs {
      text-align: center;
    }

    td.tournament {
      font-weight: $font-weight-bold;
      font-size: 1.1em;
    }
  }
}

#team-left-side,
#team-right-side {
  flex-grow: 1;
  flex-shrink: 1;
  max-width: none;
}