/*
//
// TOURNAMENTS
//
*/

#tournaments-page,
#tournament-page {

  .subheader {
    margin-top: 1rem;
    margin-bottom: 3rem;
  }

  @include breakpoint(medium) {

    h1 {
      font-size: 4rem;
      line-height: .8em;
    }

  }
}

#tournaments-page {
  .page-header header {
    padding-top: 6rem;
    padding-bottom: 3rem;

    h1, .subheader {
      max-width: 30rem;
      margin-left: auto;
      margin-right: auto;
    }

    @include breakpoint(medium) {
      padding-top: 5rem;
      padding-bottom: 5rem;

      h1 {
        font-size: 4rem;
        line-height: .8em;
      }
    }
  }
}

#featured-tournaments {
  padding: 3rem $global-padding;

  ul {
    margin-top: 1rem;
  }

  .card {
    // position buttons
    position: relative;
    .live,
    .register {
      position: absolute;
      right: $global-padding;
      top: $global-padding;
      margin: 0;
    }
  }

  .card-header {
    height: 12rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    // each tournament should have their own photo
    background: linear-gradient(160deg, color-opacity($card-header-background, 'secondary'), color-opacity($card-header-background, 'secondary')),
                url(https://source.unsplash.com/featured/?crowd) no-repeat center;
    background-size: auto, cover;

    .date,
    .title {
      @include force-truncate;
    }
  }

  .prize {
    color: spheric-color('accent');
    i {
      background-color: spheric-color('accent');
      color: white;
      border-radius: $global-rounded;
      padding: .3rem;
    }
  }

}


#upcoming-tournaments {

  .block-list,
  .grid-block {
    margin-left: 0;
    margin-right: 0;
  }

  li:hover,
  li:focus {
    background-color: spheric-color('primary', .05, -30);

    &, > * {
      cursor: pointer;
    }
  }

  .date {
    padding: $global-padding;
    text-align: center;
    @extend %h6;
    font-size: 1em;

    .digit {
      display: inline-block;
      font-size: $h1-font-size;
      margin-bottom: $header-bottom-margin;
    }
  }

  .content {
    flex: 1 0 auto;

    > *:first-child {
      margin-top: 0;
    }

    > *:last-child {
      margin-bottom: 0;
    }
  }

  .action {
    .button {
      margin: 0;
    }
  }

}


// SINGLE

#tournament-page {

  .page-header {

    // tournaments should have their own custom image
    &.image::before {
      background-image: url(https://source.unsplash.com/featured/?crowd);
      opacity: .8;
    }

    header {
      padding-top:  11rem;

      @include breakpoint(medium) {
        padding-top:  15rem;
      }
    }
  }

}