/*
//
// TOURNAMENTS
//
*/

#featured-tournaments {
  padding: 3rem $global-padding;

  ul {
    margin-top: 1rem;
  }

  .card {
    // position buttons
    position: relative;
    .live,
    .register {
      position: absolute;
      right: $global-padding;
      top: $global-padding;
      margin: 0;
    }
  }

  .card-header {
    height: 12rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    .date,
    .title {
      @include force-truncate;
    }
  }

  .prize {
    color: spheric-color('accent');
    i {
      background-color: spheric-color('accent');
      color: white;
      border-radius: $global-rounded;
      padding: .3rem;
    }
  }

}


#upcoming-tournaments {

  .block-list,
  .grid-block {
    margin-left: 0;
    margin-right: 0;
  }

  li:hover,
  li:focus {
    background-color: spheric-color('primary', .05, -30);

    &, > * {
      cursor: pointer;
    }
  }

  .date {
    padding: $global-padding;
    text-align: center;
    @extend %h6;
    font-size: 1em;

    .digit {
      display: inline-block;
      font-size: $h1-font-size;
      margin-bottom: $header-bottom-margin;
    }
  }

  .content {
    flex: 1 0 auto;

    > *:first-child {
      margin-top: 0;
    }

    > *:last-child {
      margin-bottom: 0;
    }
  }

  .action {
    .button {
      margin: 0;
    }
  }

}


// SINGLE

$tournament-image-size: rem-calc(150);
$tournament-image-margin: 2rem;
$tournament-title-margin: (($tournament-image-size + $tournament-image-margin)/2) - ($h1-font-size/2);
$tournament-header-gradient-stop: $tournament-title-margin + $h1-font-size + ($header-bottom-margin*2);

.tournament-page {

  header {
    text-align: center;

    background: linear-gradient(spheric-color('primary') 0%,
                                spheric-color('primary') $tournament-header-gradient-stop,
                                spheric-color('primary', 0) $tournament-header-gradient-stop,
                                spheric-color('primary', 0) 100%);

    .thumbnail {
      @include shadow-6dp;
      margin-top: $tournament-image-margin;
      margin-bottom: $tournament-image-margin;
      background-color: spheric-color('white');
    }
  }

  @include breakpoint(small only) {
    .register {
      position: fixed;
      bottom: 0;
      left: 0;
      right: 0;
      text-align: center;
      margin: 0;
      box-shadow: $thumbnail-shadow;
      border-radius: 0;
    }
  }

  @include breakpoint(medium) {
    header {
      text-align: left;

      .thumbnail {
        float: left;
        margin-right: $tournament-image-margin;
      }

      .title {
        margin-top: $tournament-title-margin;
        color: spheric-color('white');
      }
    }
  }

}