/*
//
// TOURNAMENTS
//
*/

#featured-tournaments {
  padding-top: 3rem;
  padding-right: $global-padding;
  padding-left: $global-padding;

  ul {
    margin-top: 1rem;
  }

  .card {
    // position buttons
    position: relative;
    .live,
    .register {
      position: absolute;
      right: $global-padding;
      top: $global-padding;
      margin: 0;
    }
  }

  .card-header {
    height: 12rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    .date,
    .title {
      @include force-truncate;
    }
  }

  .prize {
    color: spheric-color('accent');
    i {
      background-color: spheric-color('accent');
      color: white;
      border-radius: $global-rounded;
      padding: .3rem;
    }
  }

}