/*
//
// CARDS
// Based on Foundation's .card
//
*/

$card-header-background: spheric-color('dark');
$card-header-foreground: spheric-color('light');

.card {

  overflow: hidden;

  &:not(.flat) {
    @include shadow-2dp;
  }

  #{$headers} {
    &.subheader {
      color: $subheader-font-color;
    }
  }

  .card-header {
    padding: $card-padding;
    background-color: $card-header-background;
    color: $card-header-foreground;
    background-clip: border-box;

    // position background image
    background-size: cover;
  }

  .card-section {
    > *:last-child {
      margin-bottom: 0;
    }
  }

  .card-action {
    border-top: 1px solid spheric-color('light', 'secondary');

    .button {
      margin: 0;
      border-top-left-radius: 0;
      border-top-right-radius: 0;
    }
  }

  // linked style (add hover and focus states)
  &.linked {
    @include basic-transition;

    &:hover, &:active {
      @include focus-shadow;
      cursor: pointer;
    }
  }

  &.vod {
    min-width: rem-calc(160);
    position: relative;
    i {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

}