/*
//
// CARDS
// Based on Foundation's .card
//
*/

$card-header-background: spheric-color('dark');
$card-header-foreground: spheric-color('light');

.card {

  @include shadow-2dp;
  overflow: hidden;

  .card-header {
    padding: $card-padding;
    background-color: $card-header-background;
    color: $card-header-foreground;
    background-clip: border-box;

    // position background image
    background-size: cover;
  }

  .card-section {
    > *:last-child {
      margin-bottom: 0;
    }
  }

  .card-action {
    .button {
      margin: 0;
      border-top-left-radius: 0;
      border-top-right-radius: 0;
    }
  }

  // linked style (add hover and focus states)
  &.linked {
    @include basic-transition;

    &:hover, &:active {
      @include focus-shadow;
      cursor: pointer;
    }
  }

}