/*
//
// CARDS
// Based on Foundation's .card
//
*/

$card-header-background: spheric-color('dark', 1, 20);
$card-header-foreground: spheric-color('light');

.card {

  @include shadow-2dp;

  .card-header {
    padding: $card-padding;
    background-color: $card-header-background;
    color: $card-header-foreground;
  }

  .card-section {
    > *:last-child {
      margin-bottom: 0;
    }
  }

  // linked style (add hover and focus states)
  &.linked {
    @include basic-transition;

    &:hover, &:active {
      @include focus-shadow;
      cursor: pointer;
    }
  }

}