/*
//
// MEMBERS LIST
// List of players used in groups and teams
//
*/

.members-list {
  text-align: center;

  li {
    display: inline-block;
    text-align: center;
    padding: 1rem;

    a {
      display: block;
      padding: .5rem;
    }
  }
}