/*
//
// METERS
// aka Progress Bars
//
*/

.meter {
  display: block;
  margin: 1rem 0;

  height: .5rem;
  min-width: .5rem;
  border-radius: $global-rounded;

  background: linear-gradient(to right, spheric-color('primary', 0) 6%, spheric-color('primary', 1));
}

// COLORS
.meter.accent {
  background: linear-gradient(to right, spheric-color('accent', 0) 6%, spheric-color('accent', 1));
}