/*
//
// PAGE HEADER
//
*/

$page-header-background: spheric-color('primary');
$page-header-foreground: spheric-color('white');

.page-header {

  padding-top: 3rem;
  padding-bottom: 3rem;

  background-color: $page-header-background;

  @include breakpoint(medium) {
    padding-top: 3rem;
    padding-bottom: 2rem;
  }

  h1 {
    font-weight: $font-weight-extra;
    text-transform: uppercase;
    color: $page-header-foreground;
  }

  + section {
    margin-top: 2rem;
  }

}