/*
//
// PAGE HEADER
//
*/

$page-header-background: spheric-color('primary');
$page-header-foreground: spheric-color('white');

.page-header {

  padding-top: 2rem;
  padding-bottom: 2rem;

  @include breakpoint(medium) {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }

  background: $page-header-background;

  #{$headers} {
    color: $page-header-foreground;

    &.subheader {
      color: color-opacity($page-header-foreground, 'secondary');
    }
  }

  h1 {
    font-family: $headline-font-family;
    font-weight: $font-weight-extra;
    text-transform: uppercase;
  }


  form {
    max-width: 30rem;
    margin-left: auto;
    margin-right: auto;
  }

  span.inline-label {
    margin-bottom: 0;
  }

  input {
    border-color: $input-background;

    &:hover, &:active {
      border-color: spheric-color('primary');
    }
  }

  .cta-buttons {
    margin: 0;
    text-align: right;

    > li:last-child .button {
      margin-bottom: 0;
    }
  }

  .stats {
    margin-top: 2rem;

    h6 {
      font-size: .8em;
      margin-bottom: .25rem;
    }

    h3 {
      margin-bottom: 0;
      font-size: $h2-font-size;
    }

    @include breakpoint(medium) {
      // align right of image
      margin-left: $images-size-profile + $global-padding;

      .grid-content {
        flex-grow: 0;
      }
    }
  }

  // TYPES
  &.image {
    background: linear-gradient(160deg, spheric-color('primary', 1, -30) 10%, spheric-color('dark', 1, -20) 90%);

    position: relative;
    z-index: 1;

    // add an image behind both this but above the background color
    &::before {
      content: "";
      display: block;
      position: absolute;
      z-index: -1;
      left: 0;
      right: 0;
      bottom: 0;
      top: 0;

      background: url(https://source.unsplash.com/category/nature) no-repeat center center;
      background-size: cover;
      opacity: .2;
    }
  }

  &.profile {
    text-align: center;

    #{$all-images} {
      @include shadow-3dp;
      margin-bottom: 2rem;
    }

    @include breakpoint(medium) {
      text-align: left;
      #{$all-images} {
        margin-bottom: 0;
      }
    }
  }

}


// CUSTOM CTA BUTTONS
// they are fixed to the bottom of the window and expand when on small devices
@include breakpoint(small only) {
  .page-header .cta-buttons {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    border-radius: 0;
    @include shadow-4dp;
    z-index: 2000;

    @include button-group-expand($stretch: true);
    .button {
      margin: 0;
      border-radius: 0;
    }

  }
}