/*
//
// PAGE HEADER
//
*/

$page-header-background: spheric-color('primary');
$page-header-foreground: spheric-color('white');

.page-header {

  padding-top: 2rem;
  padding-bottom: 2rem;

  background: $page-header-background;

  #{$headers} {
    color: $page-header-foreground;
  }

  h1 {
    font-family: $headline-font-family;
    font-weight: $font-weight-extra;
    text-transform: uppercase;
  }


  form {
    max-width: 30rem;
    margin-left: auto;
    margin-right: auto;
  }

  span.inline-label {
    margin-bottom: 0;
  }

  input {
    border-color: $input-background;

    &:hover, &:active {
      border-color: spheric-color('primary');
    }
  }

  @include breakpoint(medium) {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }

  // TYPES
  &.image {
    background: linear-gradient(160deg, spheric-color('primary', 1, -30) 10%, spheric-color('dark', 1, -20) 90%);

    position: relative;
    z-index: 1;

    // add an image behind both this but above the background color
    &::after {
      content: "";
      display: block;
      position: absolute;
      z-index: -1;
      left: 0;
      right: 0;
      bottom: 0;
      top: 0;

      background: url(https://source.unsplash.com/category/nature) no-repeat center center;
      background-size: cover;
      opacity: .2;
    }

  }

}