---
name: groups
url: /groups
---

<div class="groups-page grid-block vertical nowrap">

  <header class="page-header grid-content shrink">
    <div class="grid-container">
      <h1 class="name">Groups</h1>
    </div>
  </header>

	<section class="grid-content shrink">
    <div class="grid-container">

      <!-- TOP -->
      <div class="grid-block">
        <div class="grid-content medium-4">
          <form>
        	  <span class="inline-label">
              <input type="search" placeholder="Find more groups">
            	<button class="button"><i class="fa fa-search"></i></button></span>
        	</form>
        </div>

        <div class="grid-content medium-8 hide-for-small-only">
          <h2>All Activity</h2>
        </div>
      </div>

      <!-- BOTTOM -->
      <div class="grid-block">
        <div class="grid-content medium-4">
          <section class="groups-list">
            <zf-accordion auto-open="false">
              <zf-accordion-item title="Your Groups">
                <ul class="block-list">
                  <li class="item"><a ui-sref="group">
                    <i class="fa fa-lock"></i> Private Team
                  </a></li>
                  <li class="item"><a ui-sref="group">
                     <i class="fa fa-globe"></i> Public Group
                  </a></li>
                </ul>
              </zf-accordion-item>
            </zf-accordion>

          </section>
        </div>

      	<div class="grid-content medium-8">
      		<div ng-include="'templates/partials/groups/_post.html'" ng-repeat="$i in [1,2,3] track by $index"></div>

        	<a class="button expand dark raised">Load More</a>
      	</div>
      </div>

    </div>
  </section>

</div>
