---
name: groups
url: /groups
---

<div class="groups-page grid-block vertical nowrap">

  <header class="page-header grid-content shrink">
    <div class="grid-container">
      <h1 class="name">Groups</h1>
    </div>
  </header>

	<section class="grid-content shrink">
    <div class="grid-container">

      <!-- TOP -->
      <div class="grid-block">
        <div class="grid-content medium-4">
          <section class="sidebar-block-list">
            <form>
          	  <span class="inline-label"><input type="search" placeholder="Find more groups">
          	    <button class="button" type="submit"><span class="fa fa-search"></span></button></span>
          	</form>
          </section>
        </div>

        <div class="grid-content medium-8 hide-for-small-only">
          <h2 class="column-title">All Activity</h2>
        </div>
      </div>

      <!-- BOTTOM -->
      <div class="grid-block">
        <div class="grid-content medium-4">
          <zf-accordion class="groups-extras-accordion" auto-open="false">
            <zf-accordion-item class="groups-list" title="Your Groups">

              <section class="sidebar-block-list">
                <ul class="slim-list">
                  <li class="item" ng-repeat="$i in [1,2] track by $index"><a ui-sref="group">
                    <span class="img">
                      <span ng-include="'templates/components/_group-image.html'" class="small hide-for-medium-up"></span>
                    </span>
                    <span class="content">
                      <h5>Public Group</h5>
                    </span>
                  </a></li>
                  <li class="item" ng-repeat="$i in [1,2] track by $index"><a ui-sref="group">
                    <span class="img">
                      <span ng-include="'templates/components/_team-image.html'" class="small hide-for-medium-up"></span>
                    </span>
                    <span class="content">
                      <h5>Private Team</h5>
                    </span>
                    <span class="extra">
                      <span class="label">4</span>
                    </span>
                  </a></li>
                </ul>
              </section>

            </zf-accordion-item>
          </zf-accordion>
        </div>

      	<div class="grid-content medium-8">
      		<div ng-include="'templates/components/_post.html'" ng-repeat="$i in [1,2,3] track by $index"></div>

        	<a class="button expand dark raised">Load More</a>
      	</div>
      </div>

    </div>
  </section>

</div>
