---
name: home
url: /
---

<div id="home-page" class="grid-block vertical nowrap">

  <div class="page-header image grid-content shrink">
    <div ng-include="'templates/partials/_nav-main.html'"></div>

    <header class="grid-container">
		  <h1>Guide</h1>
    </header>
  </div>

	<section class="grid-content noscroll">
    <div class="grid-container">

      <div class="grid-block">
        <div class="grid-content medium-12">
          <div class="grid-block small-up-1 medium-up-2">
            <div class="grid-block" ng-include="'templates/partials/_guide_type.html'"></div>
            <div class="grid-block" ng-include="'templates/partials/_guide_controls.html'"></div>
          </div>
          <div ng-include="'templates/partials/_guide_forms.html'"></div>
          <div ng-include="'templates/partials/_guide_content.html'"></div>
          <div ng-include="'templates/partials/_guide_colors.html'"></div>
        </div>

<!--
        <div id="sidebar" class="grid-content medium-4" position="right">
          <div class="sidebar-content grid-block vertical">
            <div class="grid-block">
              <div class="grid-content">
              	<section class="sidebar-block-list">
                  <header>Current</header>
                    <ul>
                      <li class="item with-extra"><a href="#">
                        <span class="content">
                          <h4>District Unite Is Awesome</h4>
                          <h5>Awesome Team</h5>
                        </span>
                        <span class="extra stat">
                          43/50
                        </span>
                        <span class="expand">
                          <progress class="medium" value="80" max="100"></progress>
                        </span>
                      </a></li>
                    </ul>
                </section>
              	<section class="sidebar-block-list">
                  <header>Upcoming</header>
                    <ul>
                      <li class="item with-extra"><a href="#">
                        <span class="content">
                          <h4>District Unite Is Awesome</h4>
                          <h5>Awesome Team</h5>
                        </span>
                        <span class="extra">
                          <span class="date">
                            <i class="icon fa fa-calendar-o"></i><br>
                          	Feb 26
                          </span>
                        </span>
                      </a></li>
                    </ul>
                </section>
              	<section class="sidebar-block-list">
                  <header>Activity</header>
                    <ul>
                      <li class="item"><a href="#">
                        <span class="expand timestamp">2 min ago</span>
                        <span class="content">
                          <h4>District Unite Is Awesome, Yes it is</h4>
                          <p>Cornhole farm-to-table four loko, venmo craft beer green juice banh mi.</p>
                        </span>
                      </a></li>
                      <li class="item with-extra"><a href="#">
                        <span class="expand timestamp">2 min ago</span>
                        <span class="content">
                          <h4>District Unite Group</h4>
                          <p>Cornhole farm-to-table four loko, venmo craft beer green juice banh mi.</p>
                        </span>
                        <span class="extra image">
                          <span class="team"><i class="icon fa fa-trophy"></i></span>
                        </span>
                      </a></li>
                      <li class="item with-extra"><a href="#">
                        <span class="expand timestamp">2 min ago</span>
                        <span class="content">
                          <h4>Awesome User</h4>
                          <p class="quote"><i class="fa fa-quote-left"></i> Cornhole farm-to-table four loko, venmo craft beer green juice banh mi.</p>
                        </span>
                        <span class="extra image">
                          <span class="user"><i class="icon fa fa-user"></i></span>
                        </span>
                      </a></li>
                    </ul>
                </section>
                <section class="sidebar-block-list">
                  <form action=""><input type="search" placeholder="Search for a chat..."></form>
                </section>
                <section class="sidebar-block-list">
                  <header>People</header>
                  <ul class="slim-list">
                    <li class="item with-extra available"><a href="">
                      <span class="content">
                        <h5>Online User with Notification</h5>
                      </span>
                      <span class="extra">
                        <span class="label">4</span>
                        <i class="fa fa-circle"></i>
                      </span>
                    </a></li>
                    <li class="item with-extra available"><a href="">
                      <span class="content">
                        <h5>Available User</h5>
                      </span>
                      <span class="extra">
                        <i class="fa fa-circle"></i>
                      </span>
                    </a></li>
                    <li class="item with-extra unavailable"><a href="">
                      <span class="content">
                        <h5>Unavailable User with Notification</h5>
                      </span>
                      <span class="extra">
                        <span class="label">14</span>
                        <i class="fa fa-circle-o"></i>
                      </span>
                    </a></li>
                    <li class="item with-extra unavailable"><a href="">
                      <span class="content">
                        <h5>Unavailable User</h5>
                      </span>
                      <span class="extra">
                        <i class="fa fa-circle-o"></i>
                      </span>
                    </a></li>
                    <zf-accordion auto-open="false" >
                      <zf-accordion-item title="&hellip; show all">
                        <li class="item with-extra unavailable"><a href="">
                          <span class="content">
                            <h5>Unavailable User with Notification</h5>
                          </span>
                          <span class="extra">
                            <span class="label">14</span>
                            <i class="fa fa-circle-o"></i>
                          </span>
                        </a></li>
                        <li class="item with-extra unavailable"><a href="">
                          <span class="content">
                            <h5>Unavailable User</h5>
                          </span>
                          <span class="extra">
                            <i class="fa fa-circle-o"></i>
                          </span>
                        </a></li>
                      </zf-accordion-item>
                    </zf-accordion>
                  </ul>
                </section>
              </div>
            </div>
            <div class="sidebar-action grid-block shrink">
              <div class="grid-content">
                <a href="#" class="button expand dark raised">Button</a>
              </div>
            </div>
          </div>
        </div>
-->

      </div>
    </div>
	</section>

	<div ng-include="'templates/partials/_footer.html'"></div>
</div>