---
name: home
url: /
---

<section class="grid-block vertical">
  <div class="grid-block small-up-1 medium-up-2 shrink">
    <div class="grid-block" ng-include="'templates/partials/_guide_type.html'"></div>
    <div class="grid-block" ng-include="'templates/partials/_guide_controls.html'"></div>
  </div>
  <div class="grid-block shrink" ng-include="'templates/partials/_guide_colors.html'"></div>
</section>

<zf-panel id="sidebar" class="sidebar" position="right">
  <a zf-close="" class="close-button">×</a>
  <div class="sidebar-content grid-block vertical">
    <div class="grid-block">
      <div class="grid-content">
      	<section class="sidebar-block-list">
          <header>Current</header>
            <ul>
              <li class="item with-extra"><a href="#">
                <span class="content">
                  <h5>District Unite Is Awesome</h5>
                  <h6>Awesome Team</h6>
                </span>
                <span class="extra stat">
                  43/50
                </span>
                <span class="expand">
                  <progress class="medium" value="80" max="100"></progress>
                </span>
              </a></li>
            </ul>
        </section>
      	<section class="sidebar-block-list">
          <header>Upcoming</header>
            <ul>
              <li class="item with-extra"><a href="#">
                <span class="content">
                  <h5>District Unite Is Awesome</h5>
                  <h6>Awesome Team</h6>
                </span>
                <span class="extra date">
                  <i class="icon fa fa-calendar-o"></i><br>
                  Feb 26
                </span>
              </a></li>
            </ul>
        </section>
      	<section class="sidebar-block-list">
          <header>Activity</header>
            <ul>
              <li class="item"><a href="#">
                <span class="expand timestamp">2 min ago</span>
                <span class="content">
                  <h5>District Unite Is Awesome, Yes it is</h5>
                  <p>Cornhole farm-to-table four loko, venmo craft beer green juice banh mi.</p>
                </span>
              </a></li>
              <li class="item with-extra"><a href="#">
                <span class="expand timestamp">2 min ago</span>
                <span class="content">
                  <h5>District Unite Is Awesome</h5>
                  <p>Cornhole farm-to-table four loko, venmo craft beer green juice banh mi.</p>
                </span>
                <span class="extra image">
                  <span class="team"><i class="icon fa fa-trophy"></i></span>
                </span>
              </a></li>
              <li class="item with-extra"><a href="#">
                <span class="expand timestamp">2 min ago</span>
                <span class="content">
                  <h5>District Unite Is Awesome</h5>
                  <p>Cornhole farm-to-table four loko, venmo craft beer green juice banh mi.</p>
                </span>
                <span class="extra image">
                  <span class="user"><i class="icon fa fa-user"></i></span>
                </span>
              </a></li>
            </ul>
        </section>
      </div>
    </div>
    <div class="sidebar-action grid-block shrink">
      <div class="grid-content">
        <a href="#" class="button expand dark raised">Button</a>
      </div>
    </div>
  </div>
</zf-panel>