---
name: messages
url: /messages
---

<div id="messages-page" class="grid-block vertical nowrap">

  <header class="page-header image grid-content shrink">
    <div ng-include="'templates/partials/_nav-main.html'"></div>
  </header>

  <section id="messages-holder" class="grid-block vertical medium-horizontal">

    <div class="grid-content hide-for-small-only" ng-include="'templates/partials/_messages-sidebar.html'"></div>

    <div id="messages-content-holder" class="grid-block medium-8">
      <div class="grid-block vertical" ng-include="'templates/partials/_messages-content.html'"></div>
    </div>

  </section>
</div>
