---
name: messages_mobile
url: /messages_mobile
---

<div id="messages-page" class="grid-block vertical nowrap">

  <header class="page-header image grid-content shrink">
    <div ng-include="'templates/partials/_nav-main.html'"></div>
  </header>

  <section id="messages-holder" class="grid-block">

    <div class="grid-block vertical hide-for-medium">

      <div ng-include="'templates/partials/_messages-sidebar.html'"></div>

    </div>

    <div class="grid-content show-for-medium">
      <br>
      <br>
      <br>
      <h1 class="text-center">
        Whoops, we lost ya there. <br>
        <a ui-sref="messages">Get back to the messages page.</a>
      </h1>
    </div>

  </section>
</div>
