---
name: messages
url: /messages
---

<div class="messages-page grid-block vertical nowrap">

  <header class="page-header grid-content shrink hide-for-small-only">
    <div class="grid-container">
      <h1 class="name">Messages</h1>
    </div>
  </header>

  <section id="messages-holder" class="grid-block vertical medium-horizontal">

    <div class="grid-content hide-for-small-only" ng-include="'templates/partials/_messages-sidebar.html'"></div>

    <div id="messages-content-holder" class="grid-block medium-8">
      <div class="grid-block vertical" ng-include="'templates/partials/_messages-content.html'"></div>
    </div>

  </section>
</div>
