---
name: players
url: /players
---

<div id="players-page" class="grid-block vertical nowrap">

  <div class="page-header image grid-content shrink">
    <div ng-include="'templates/partials/_nav-main.html'"></div>
  </div>

	<section class="grid-content shrink">
    <div class="grid-container">

      <div class="grid-block vertical">

        <div id="players-search" class="grid-content">
        	<form>
        	  <span class="inline-label"><input type="search" placeholder="Search for players...">
        	  	<button class="button primary" type="submit"><span class="fa fa-search"></span></button></span>

          	<zf-accordion class="small-extras-accordion" auto-open="false">
              <zf-accordion-item class="flat" title="Show Filters">
                <div class="grid-block v-align">
                  <div class="grid-content">
                    <select name="" id="">
                      <option value="">School</option>
                      <option ng-repeat="i in ['Rochester', 'New York', 'Johannesburg', 'Illinois', 'Maryland']" value="">University of {{i}}</option>
                    </select>
                  </div>
                  <div class="grid-content">
                    <select name="" id="">
                      <option value="">Game</option>
                      <option ng-repeat="i in ['Mario Kart IV', 'League of Legends', 'Tetris', 'Gears of War']" value="">{{i}}</option>
                    </select>
                  </div>
                  <div class="grid-content">
                    <input id="checkbox1" type="checkbox"><label for="checkbox1">My connections only</label>
                  </div>
                </div>
              </zf-accordion-item>
            </zf-accordion>
        	</form>

        	<h5 id="players-search-description">Showing suggested connections from <strong>New York University</strong></h5>

        </div>

        <div id="players-results" class="grid-content">
        	<ul class="grid-block wrap">
            <li class="grid-content" ng-repeat="i in [1,2,3,4,5,6,7,8,9,10,11,12] track by $index">
              <div class="card linked" ui-sref="player">
                <div class="clearfix">
                  <div class="card-section image">
                    <span ng-include="'templates/components/_user-image.html'" class="large"></span>
                  </div>
                  <div class="card-section text">
                    <h3 class="name">Awesome Player</h3>
                    <h5 class="subheader">New York University</h5>
                    <div class="games"><span class="label">Tetris</span> <span class="label" ng-if="$even">League of Legends</span></div>
                  </div>
                </div>
                <div class="card-action">
                  <a class="button primary expand"><i class="fa fa-bolt"></i> Instant Connect</a>
                </div>
              </div>
            </li>
          </ul>
        </div>

        <div class="grid-content medium-8">
          <a href="" class="button expand transparent">Show More</a>
        </div>
      </div>

		</div>
	</section>
</div>
