---
name: player
url: /player
---

<div id="player-page" class="grid-block vertical nowrap">

  <div class="page-header image with-back with-ctas grid-content shrink">
    <div ng-include="'templates/partials/_nav-main.html'"></div>

    <a ui-sref="players" class="back"><i class="fa fa-angle-left"></i></a>

    <header class="grid-container profile">
      <div class="grid-block vertical medium-horizontal v-align nowrap">
        <div class="grid-content shrink align-center">
          <div ng-include="'templates/components/_user-image.html'" class="profile"></div>
        </div>
        <div class="grid-content align-center">
          <h2 class="name">Awesome Player</h2>
    		  <h3 class="subheader">New York University</h3>
    		</div>
    		<div class="grid-content shrink align-bottom">
    		  <ul class="cta-buttons no-bullet">
    		  	<li><a class="button raised register" href=""><i class="fa fa-bolt fa-fw"></i> Connect</a></li>
    		  	<li><a class="button accent raised register" href=""><span class="fa fa-comment fa-fw"></span> Message</a></li>
    		  </ul>
    		</div>
      </div>
    </header>
  </div>

	<section class="grid-content noscroll">
    <div class="grid-container">
    	<zf-tabs>

    	  <zf-tab title="Gaming Profile">
    	    <ul>
            <li class="grid-block v-align" ng-repeat="i in [1, 2, 3]">
              <div class="grid-content shrink">
                <img src="http://placehold.it/50x50" width="50" height="50" alt="">
              </div>
              <div class="grid-content">
                <h3>League of Legends</h3>
                <dl class="inline">
                  <dt>Rank/Skill Level:</dt>
                  <dd>Master</dd>
                  <hr>
                  <dt>Roles:</dt>
                  <dd>Fighter/Assasin</dd>
                  <hr>
                  <dt>ID:</dt>
                  <dd>1535-4531-5552</dd>
                </dl>
              </div>
              <div class="grid-content shrink">
                <h5>Track History</h5>
                <h3>15-8</h3>
              </div>
            </li>
    	    </ul>
    	  </zf-tab>

    	  <zf-tab title="Recent Matches">
    	    <table>
    	    	<thead>
      	    	<th>Game</th>
      	    	<th>Type</th>
      	    	<th>Versus</th>
      	    	<th>Result</th>
    	    	</thead>
    	    	<tbody>
      	    	<tr ng-repeat="i in [1,2,3,4,5,6,7,8,9,10]">
        	    	<td>DOTSA</td>
        	    	<td>Team</td>
        	    	<td>JMU</td>
        	    	<td>Win</td>
      	    	</tr>
    	    	</tbody>
    	    </table>
    	  </zf-tab>

    	  <zf-tab title="Replays">
      	  <ul class="grid-block small-up-2 medium-up-4">
            <li class="grid-content" ng-repeat="i in [1,2,3,4] track by $index">
              <div class="card linked vod">
                <img src="http://placehold.it/160x90" alt="">
                <i class="fa fa-youtube-play fa-inverse fa-2x"></i>
              </div>
            </li>
      	  </ul>
    	  </zf-tab>

    	</zf-tabs>
    </div>
	</section>

	<div ng-include="'templates/partials/_footer.html'"></div>
</div>
