---
name: players
url: /players
---

<div class="players grid-block vertical nowrap">

  <header class="page-header grid-content shrink">
    <div class="grid-container">
      <div class="grid-block align-center ">
        <div class="grid-content medium-8 large-6">
    		  <h1>Find players</h1>
        	<form class="search-condensed">
        	  <input type="search" placeholder="Search school, game, name">
        	  <button class="button transparent" type="submit"><span class="fa fa-search"></span></button>
        	</form>
        	<zf-accordion auto-open="false">
            <zf-accordion-item title="Filters">
              <form>
                <select name="" id="">
                  <option value="">School</option>
                  <option ng-repeat="i in ['Rochester', 'New York', 'Johannesburg', 'Illinois', 'Maryland']" value="">University of {{i}}</option>
                </select>
                <select name="" id="">
                  <option value="">Game</option>
                  <option ng-repeat="i in ['Mario Kart IV', 'League of Legends', 'Tetris', 'Gears of War']" value="">{{i}}</option>
                </select>
                <input id="checkbox1" type="checkbox"><label for="checkbox1">My connections only</label>
              </form>
            </zf-accordion-item>
        	</zf-accordion>
    		</div>
      </div>
    </div>
  </header>

	<section class="grid-content shrink">
    <div class="grid-container">

      <div id="players-results" class="grid-block align-center">

        <div class="grid-content small-12">
        	<h5>Showing suggested connections from <strong>New York University</strong></h5>

        	<ul class="grid-block small-up-2 medium-up-4">
            <li class="grid-content" ng-repeat="i in [1,2,3,4,5,6,7,8,9,10,11,12] track by $index">
              <div class="card linked" ui-sref="player">
                <div class="card-section">
                  <div class="player-image"><span ng-include="'templates/components/_user-image.html'" class="large"></span></div>
                  <h3 class="name">Awesome Player</h3>
                  <h5 class="school subheader">New York University</h5>
                  <div class="games"><span class="label">Tetris</span> <span class="label" ng-if="$even">League of Legends</span></div>
                </div>
                <div class="card-action">
                  <a class="button expand"><i class="fa fa-bolt"></i> Instant Connect</a>
                </div>
              </div>
            </li>
          </ul>
        </div>

        <div class="grid-content medium-8">
          <a href="" class="button expand transparent">Show More</a>
        </div>
      </div>

		</div>
	</section>
</div>
