---
name: team
url: /team
---

<div id="team-page" class="grid-block vertical nowrap">

  <div class="page-header image with-back with-ctas grid-content shrink">
    <div ng-include="'templates/partials/_nav-main.html'"></div>

<!--     <a ui-sref="teams" class="back"><i class="fa fa-angle-left"></i></a> -->

    <header class="grid-container profile">
      <div class="grid-block vertical medium-horizontal v-align nowrap">
        <div class="grid-content shrink align-center">
          <div ng-include="'templates/components/_team-image.html'" class="profile"></div>
        </div>
        <div class="grid-content align-center">
          <h2 class="name">Awesome Team has a long name</h2>
    		  <h3 class="school subheader">New York University &emsp; <strong>CS:GO</strong></h3>
    		</div>
    		<div class="grid-content shrink align-center">
    		  <ul class="cta-buttons no-bullet">
    		  	<li><a class="button raised register"><i class="fa fa-eye fa-fw"></i> Follow</a></li>
    		  	<li><a class="button accent raised register"><span class="fa fa-comment fa-fw"></span> Message</a></li>
    		  </ul>
    		</div>
      </div>
		  <div id="team-header-stats" class="stats grid-block">
        <div class="grid-content">
          <h6 class="subheader">Rank</h6>
          <h3><strong>Master</strong></h3>
        </div>
        <div class="grid-content">
          <h6 class="subheader">Win/Loss</h6>
          <h3><strong>51/25</strong></h3>
        </div>
      </div>
    </header>
  </div>

	<section class="grid-content shrink">
    <div class="grid-container">

      <div class="grid-block">
        <div class="grid-content medium-8">
          <h2>Matches</h2>
          <table>
      	    <tbody>
        	    <tr ng-repeat="i in [1,2,3,4,5,6,7] track by $index">
          	    <td class="tournament">District Unite</td>
          	    <td class="versus">vs</td>
          	    <td class="team">Fantastic Team</td>
          	    <td ng-if="$index < 3" class="date">Feb. {{$index + 5}}</td>
          	    <td ng-if="$index >= 3" class="score">Win</td>
        	    </tr>
      	    </tbody>
    	    </table>
        </div>
        <div class="grid-content medium-4">
          <h2>Roster</h2>
          <ul class="no-bullet grid-block">
	      		<li class="grid-content" ng-repeat="i in [1,2,3,4,5,6,7,8]">
    	      	<a ui-sref="player"><span ng-include="'templates/components/_user-image.html'" class="medium"></span></a>
	      		</li>
	      	</ul>
        </div>
      </div>

      <div class="grid-block">
        <div class="grid-content medium-4 medium-order-2">
          <h2>Stats</h2>
        </div>
        <div class="grid-content medium-8 medium-order-1">
          <h2>VODS</h2>
          <ul class="grid-block small-up-2 medium-up-4">
            <li class="grid-content" ng-repeat="i in [1,2,3,4] track by $index">
              <div class="card linked">
                <div class="card-section">
                  <img src="http://placehold.it/160x90" alt="">
                  <i class="fa fa-youtube-play"></i>
                </div>
              </div>
            </li>
      	  </ul>
        </div>
      </div>

    </div>
	</section>
</div>
