---
name: teams
url: /teams
---

<div id="teams-page" class="grid-block vertical nowrap">

  <div class="page-header image grid-content shrink">
    <div ng-include="'templates/partials/_nav-main.html'"></div>
  </div>

	<section class="grid-content shrink">
    <div class="grid-container">

      <div class="grid-block vertical">

        <div id="players-search" class="grid-content">
        	<form>
        	  <span class="inline-label"><input type="search" placeholder="Search for teams...">
        	  	<button class="button primary" type="submit"><span class="fa fa-search"></span></button></span>

          	<zf-accordion class="small-extras-accordion" auto-open="false">
              <zf-accordion-item class="flat" title="Show Filters">
                <div class="grid-block v-align">
                  <div class="grid-content">
                    <select name="" id="">
                      <option value="">School</option>
                      <option ng-repeat="i in ['Rochester', 'New York', 'Johannesburg', 'Illinois', 'Maryland']" value="">University of {{i}}</option>
                    </select>
                  </div>
                  <div class="grid-content">
                    <select name="" id="">
                      <option value="">Game</option>
                      <option ng-repeat="i in ['Mario Kart IV', 'League of Legends', 'Tetris', 'Gears of War']" value="">{{i}}</option>
                    </select>
                  </div>
                  <div class="grid-content">
                    <input id="checkbox1" type="checkbox"><label for="checkbox1">My teams only</label>
                  </div>
                </div>
              </zf-accordion-item>
            </zf-accordion>
        	</form>

        	<h5 id="players-search-description">Showing suggested teams from <strong>New York University</strong></h5>

        </div>

        <div id="teams-results" class="grid-content">
        	<div class="card">
        		<div ng-include="'templates/components/_teams-table.html'"></div>
        	</div>

          <br>

          <p class="text-center">
          	<a href="" class="button expand transparent">Show More</a>
          </p>
        </div>
      </div>

		</div>
	</section>
</div>
