---
name: tournament
url: /tournament
---

<div class="tournament-page grid-block vertical nowrap">

  <header class="page-header grid-content shrink">
    <div class="grid-container">
      <div class="grid-block">
        <div class="grid-content medium-8 large-6">
          <img src="http://placehold.it/150x150" width="150" height="150" alt="" class="thumbnail">
          <h1 class="title">District Unite</h1>
    		  <h2 class="date">February 2-3, 2016</h2>
    		  <h4>Hosted by the Cool Company</h4>
    		  <a class="button accent large raised register">Register &mdash; $50</a>
    		</div>
      </div>
    </div>
  </header>

	<section class="grid-content shrink">
    <div class="grid-container">
    	<zf-tabs>
    	  <zf-tab title="Schedule">
    	    <p>Crucifix affogato before they sold out fap roof party.  Pork belly knausgaard sriracha, cardigan bicycle rights tumblr marfa direct trade.  Blue bottle hashtag microdosing, kinfolk meditation keffiyeh waistcoat hammock umami.  Literally man bun ennui gastropub man braid narwhal pickled PBR&amp;B, gluten-free pinterest pitchfork cronut asymmetrical.  Hella chia 3 wolf moon actually.  Locavore seitan actually asymmetrical williamsburg, narwhal echo park.  Mumblecore raw denim knausgaard biodiesel, neutra ugh blog keytar brooklyn portland tofu disrupt try-hard tattooed.</p>
    	  </zf-tab>
    	  <zf-tab title="Brackets"></zf-tab>
    	  <zf-tab title="Participants"></zf-tab>
    	  <zf-tab title="About"></zf-tab>
    	</zf-tabs>
    </div>
	</section>
</div>
