---
name: tournament
url: /tournament
---

<div id="tournament-page" class="grid-block vertical nowrap">

  <div class="page-header image with-back with-ctas grid-content shrink">
    <div ng-include="'templates/partials/_nav-main.html'"></div>

    <a ui-sref="tournaments" class="back"><i class="fa fa-angle-left"></i></a>
    <header class="grid-container">
      <div class="grid-block vertical medium-horizontal v-align nowrap">
        <div class="grid-content medium-align-center">
          <h1 class="name">District Unite</h1>
    		  <h2 class="subheader">February 2-3, 2016</h2>
    		  <h4>Hosted by the Cool Company</h4>
    		</div>
    		<div class="grid-content shrink align-bottom">
    		  <ul class="cta-buttons no-bullet">
    		  	<li><a class="button large raised register">Register &mdash; $50</a></li>
    		  </ul>
    		</div>
      </div>
    </header>
  </div>

	<section class="grid-content shrink">
    <div class="grid-container">
    	<zf-tabs>
    	  <zf-tab title="Schedule">
    	    <p>Crucifix affogato before they sold out fap roof party.  Pork belly knausgaard sriracha, cardigan bicycle rights tumblr marfa direct trade.  Blue bottle hashtag microdosing, kinfolk meditation keffiyeh waistcoat hammock umami.  Literally man bun ennui gastropub man braid narwhal pickled PBR&amp;B, gluten-free pinterest pitchfork cronut asymmetrical.  Hella chia 3 wolf moon actually.  Locavore seitan actually asymmetrical williamsburg, narwhal echo park.  Mumblecore raw denim knausgaard biodiesel, neutra ugh blog keytar brooklyn portland tofu disrupt try-hard tattooed.</p>
    	  </zf-tab>
    	  <zf-tab title="Participants">
    	    <div class="card">
        		<div ng-include="'templates/components/_teams-table.html'"></div>
        	</div>
    	  </zf-tab>
    	  <zf-tab title="About">
    	    <div ng-include="'templates/partials/_tournament-about.html'"></div>
    	  </zf-tab>
    	</zf-tabs>
    </div>
	</section>
</div>
