---
name: tournament
url: /tournament
---

<div id="tournament-page" class="grid-block vertical nowrap">

  <div class="page-header image with-back with-ctas grid-content shrink">
    <div ng-include="'templates/partials/_nav-main.html'"></div>

    <a ui-sref="tournaments" class="back"><i class="fa fa-angle-left"></i></a>
    <header class="grid-container">
      <div class="grid-block vertical medium-horizontal v-align nowrap">
        <div class="grid-content medium-align-center">
          <h1 class="name">District Unite</h1>
    		  <h2 class="subheader">February 2-3, 2016</h2>
    		  <h4>Hosted by the Cool Company</h4>
    		</div>
    		<div class="grid-content shrink align-bottom">
    		  <ul class="cta-buttons no-bullet">
    		  	<li><a class="button large raised register" href="">Register &mdash; $50</a></li>
    		  </ul>
    		</div>
      </div>
    </header>
  </div>

	<section class="grid-content noscroll">
    <div class="grid-container">
    	<zf-tabs>
    	  <zf-tab title="Schedule">
    	    <div class="grid-block">

      	    <div class="matchup grid-content" ng-repeat="$i in [1,2,3,4,5,6]">
      	    	<div class="card">
      	    		<div class="card-section">
        	    		<div class="grid-block nowrap v-align">
          	    		<div class="images grid-content shrink align-center">
            	    		<span ng-include="'templates/components/_team-image.html'" class="small"></span>
            	    		<h6 class="vs">vs</h6>
            	    		<span ng-include="'templates/components/_team-image.html'" class="small"></span>
          	    		</div>
          	    		<div class="teams grid-content align-center">
            	    		<p><a ui-sref="team">Awesome Team</a></p>
            	    		<p><a ui-sref="team">Fantastic team</a></p>
          	    		</div>
          	    		<div class="status grid-content shrink align-center">
            	    		<a ng-if="$i < 3" class="button tiny raised success">Live</a>
            	    		<a ng-if="$i == 3 || $i == 4" class="button tiny transparent disabled" disabled>Feb. 2</a>
            	    		<a ng-if="$i > 4" class="button hollow tiny">Replay</a>
          	    		</div>
        	    		</div>
      	    		</div>
      	    	</div>
      	    </div>

    	    </div>
    	  </zf-tab>
    	  <zf-tab title="Participants">
    	    <div class="card">
        		<div ng-include="'templates/components/_teams-table.html'"></div>
        	</div>
    	  </zf-tab>
    	  <zf-tab title="About">
    	    <div ng-include="'templates/partials/_tournament-about.html'"></div>
    	  </zf-tab>
    	</zf-tabs>
    </div>
	</section>

	<div ng-include="'templates/partials/_footer.html'"></div>
</div>
