---
name: tournaments
url: /tournaments
---

<div class="grid-block vertical">

	<header class="grid-block align-center shrink page-header">
		<div class="grid-content medium-8 large-6">
		  <h2>Find your tournament</h2>
    	<form class="search-condensed">
    	  <input type="search" placeholder="Search all tournaments">
    	  <button class="button transparent" type="submit"><span class="fa fa-search"></span></button>
    	</form>
    	<p>Authentic small batch distillery, selvage blue bottle direct trade.</p>
		</div>
	</header>

	<section class="grid-block">
		<div class="grid-content">
      <div id="featured-tournaments" class="grid-container">
        <h2>Featured</h2>
        <ul class="grid-block small-up-1 medium-up-3">
          <li class="grid-content" ng-repeat="i in [1, 2, 3] track by $index">
            <div class="card linked" ng-click="add-link-here">
              <div class="card-header">
                <a class="button tiny hollow success live" ng-if="$index == 0">Live</a>
                <a class="button tiny hollow accent register" ng-if="$index != 0">Register</a>
                <h5 class="date">Feb {{$index + 1 * 2}} - Feb {{$index + 1 * 3}}</h5>
                <h2 class="title"><strong>District Unite is coming to your town</strong></h2>
              </div>
              <div class="card-section">
                <p>Mario Kart IV <span class="float-right prize"><strong>$500 <i class="fa fa-trophy"></i></strong></span></p>
              </div>
            </div>
          </li>
        </ul>
      </div>
		</div>
	</section>
</div>
