---
name: tournaments
url: /tournaments
---

<div id="tournaments-page" class="grid-block vertical nowrap">

  <div class="page-header image grid-content shrink">
    <div ng-include="'templates/partials/_nav-main.html'"></div>

    <header class="grid-container">
      <div class="grid-block vertical medium-horizontal v-align">
        <div class="grid-content medium-6">
    		  <h1>Find your tournament</h1>
        	<h3 class="subheader">Authentic small batch distillery, selvage blue bottle direct trade.</h3>
    		</div>
    		<div class="grid-content medium-5 medium-offset-1 medium-align-center">
        	<form>
        	  <span class="inline-label"><input type="search" placeholder="Search all tournaments">
        	  	<button class="button transparent" type="submit"><span class="fa fa-search"></span></button></span>
        	</form>
    		</div>
      </div>
    </header>
  </div>

	<section class="grid-content shrink">
    <div class="grid-container">

      <div id="featured-tournaments" class="grid-content">
        <h2>Featured</h2>
        <ul class="grid-block small-up-1 medium-up-3">
          <li class="grid-content" ng-repeat="i in [1, 2, 3] track by $index">
            <div class="card linked" ui-sref="tournament">
              <div class="card-header">
                <a class="button tiny raised success live" ng-if="$index == 0">Live</a>
                <a class="button tiny raised register" ng-if="$index != 0">Register</a>
                <h5 class="date">Feb {{$index + 2}} - Feb {{$index + 3}}</h5>
                <h2 class="title"><strong>District Unite is coming to your town</strong></h2>
              </div>
              <div class="card-section">
                <p>Mario Kart IV <span class="float-right prize"><strong>$500 <i class="fa fa-trophy"></i></strong></span></p>
              </div>
            </div>
          </li>
        </ul>
      </div>

      <div id="upcoming-tournaments" class="grid-content">
        <h2>Upcoming</h2>
        <table class="zebra selectable">
        	<thead>
        	  <th class="date">Date <i class="fa fa-caret-down sort-arrow"></i></th>
          	<th class="tournament">Event</th>
          	<th class="provider">Provider</th>
          	<th class="payout">Payout</th>
          	<th class="actions"></th>
        	</thead>
        	<tbody>
          	<tr ng-repeat="$i in [1,2,3,4,5,6,7,8,9,10]" ui-sref="tournament">
          		<td class="date">
            		<span class="digit">{{$index + 20}}</span><br>Feb
          		</td>
          		<td class="tournament">
              	<h3 class="name">District Unite Is Awesome</h3>
              	<h5 class="subhead">Mario Kart IV</h5>
          		</td>
          		<td class="provider">Cool Co.</td>
          		<td class="payout">$500</td>
          		<td class="actions"><a class="button hollow register">Register &mdash; $50</a></td>
          	</tr>
        	</tbody>
        </table>
        <br>
        <a class="button expand primary">Load more&hellip;</a>
      </div>

		</div>
	</section>
</div>
