/*
//
// STYLE GUIDE
// Leave out for production
//
*/

// CONTROLS
#guide_controls {
  padding-top: 2rem;
}

// COLORS
#guide_colors {
  padding: 1rem;
}

.color-block {
  padding: 1rem;

  > span {
    display: block;
    height: 2rem;
  }
}

@each $color, $value in $spheric-colors {
  .color-block.#{$color} {
    background: $value;

    // check for lightness of background
    $text: isitlight($value, 'dark', 'white');

    // then apply correct text color in shades
    @each $color, $value in $spheric-opacities {
      .content-color.#{$color} {
        color: spheric-color($text, $color);
      }
    }

    @for $i from 1 through 5 {
      .shade-#{$i} {
        $shade: (60 - ($i * 20)) * 1%;
        @if $color == "light" {
          background-color: spheric-color($color, 1, -$shade);
        } @else {
          background-color: spheric-color($color, 1, $shade);
        }
      }
    }
  }
}

