<footer id="main-footer" class="hide-for-small-only grid-content shrink">
  <div class="grid-container">
    <div class="grid-block v-align">

      <div class="grid-content">
        <h5>NCESPA</h5>
        <p class="ideal">Cardigan tote bag gentrify vegan, microdosing green juice 8-bit.  DIY waistcoat beard, freegan gluten-free crucifix pour-over lumbersexual pickled XOXO small batch.</p>
      </div>
      <div class="grid-content shrink align-bottom">
        <ul class="align-right no-bullet social">
          <li><a href=""><i class="fa fa-facebook-official"></i></a></li>
          <li><a href=""><i class="fa fa-twitter"></i></a></li>
          <li><a href=""><i class="fa fa-youtube-play"></i></a></li>
        </ul>
      </div>
    </div>


    <ul id="footer-links" class="no-bullet grid-block align-justify">
      <li><a href="" ui-sref="home">Dashboard</a></li>
      <li><a href="" ui-sref="tournaments">Tournaments</a></li>
      <li><a href="" ui-sref="teams">Teams</a></li>
      <li><a href="" ui-sref="groups">Groups</a></li>
      <li><a href="" ui-sref="players">Players</a></li>
      <li><a href="" ui-sref="messages">Messages</a></li>
      <li><a href="" ui-sref="about">About</a></li>
      <li><a href="" ui-sref="profile">Profile</a></li>
    </ul>

  	<p class="text-center copy"><small>&copy; National Collegiate E-Sport Players Association</small></p>
  </div>
</footer>