<div id="guide_content">
  <div class="grid-block small-up-1 medium-up-3">
    <div class="grid-content">
      <div class="card">
        <div class="card-section">
          <p>The most basic elements in the Foundation for Apps grid are the Group and Block.</p>
        </div>
      </div>
    </div>

    <div class="grid-content">
      <div class="card">
        <img src="http://placekitten.com/g/400/200">
        <div class="card-divider">
          This is a header
        </div>
        <div class="card-section">
          <h4>Look at This Swag Card</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi iusto reprehenderit voluptatem odio deleniti provident aliquam qui magnam aspernatur necessitatibus.</p>
        </div>
      </div>
    </div>

    <div class="grid-content">
      <div class="primary card">
        <img src="http://placekitten.com/g/400/200">
        <div class="card-divider">
          This is a header
        </div>
        <div class="card-section">
          <h4>Look at This Swag Card</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi iusto reprehenderit voluptatem odio deleniti provident aliquam qui magnam aspernatur necessitatibus.</p>
        </div>
      </div>
    </div>
  </div>

  <div>
  	<a class="button" href="#" zf-popup-toggle="popup">Open Popup</a>
  	<zf-popup id="popup">
  	  <p>Tacos try-hard beard hashtag put a bird on it man bun.  Readymade before they sold out pinterest, authentic kale chips vinyl echo park taxidermy ethical 3 wolf moon normcore meditation paleo.  Next level farm-to-table everyday carry godard, sartorial ennui mlkshk migas kombucha hella neutra raw denim leggings.  Blog williamsburg keytar kale chips tacos retro, VHS food truck flannel DIY iPhone disrupt yr.  Ugh biodiesel helvetica, fixie master cleanse tilde actually dreamcatcher 8-bit disrupt.  You probably haven't heard of them PBR&amp;B ethical, ennui cronut normcore waistcoat pinterest.  Venmo church-key waistcoat, microdosing narwhal ramps meggings disrupt drinking vinegar cornhole roof party mlkshk sustainable yuccie.</p>
  	</zf-popup>
  </div>

</div>