<div id="guide_controls">
  <a class="button" href="#">Primary Color</a>
  <a class="secondary button" href="#">Secondary Color</a>
  <a class="accent button hollow" href="#">Accent and Hollow</a>
  <a class="success button disabled" href="#">Success and Disabled</a>
  <a class="alert button tiny" href="#">Alert and tiny</a>
  <button class="dark button expand" href="#">Dark and Expand</button>
  <ul class="button-group large expand">
    <li><a href="#">Button</a></li>
    <li><a href="#">Group</a></li>
    <li><a href="#">Large</a></li>
  </ul>
</div>