<div id="guide_colors" class="grid-block small-up-2 medium-up-3 large-up-6">
  <div class="grid-content">
  	<div class="color-block light">
  	  <h3 class="content-color default">Light</h3>
  	  <h5 class="content-color secondary">Secondary</h5>
  	  <h5 class="content-color tertiary">Tertiary</h5>
  	  <h5 class="content-color barely">Barely</h5>
  	  <h5 class="content-color hidden">Hidden</h5>
  	  <span class="shade-1"></span>
  	  <span class="shade-2"></span>
  	  <span class="shade-4"></span>
  	  <span class="shade-5"></span>
  	</div>
  </div>
  <div class="grid-content">
    <div class="color-block dark">
      <h3 class="content-color default">Dark</h3>
      <h5 class="content-color secondary">Secondary</h5>
      <h5 class="content-color tertiary">Tertiary</h5>
      <h5 class="content-color barely">Barely</h5>
      <h5 class="content-color hidden">Hidden</h5>
      <span class="shade-1"></span>
      <span class="shade-2"></span>
      <span class="shade-4"></span>
      <span class="shade-5"></span>
    </div>
  </div>
  <div class="grid-content">
    <div class="color-block primary">
      <h3 class="content-color default">Primary</h3>
      <h5 class="content-color secondary">Secondary</h5>
      <h5 class="content-color tertiary">Tertiary</h5>
      <h5 class="content-color barely">Barely</h5>
      <h5 class="content-color hidden">Hidden</h5>
      <span class="shade-1"></span>
      <span class="shade-2"></span>
      <span class="shade-4"></span>
      <span class="shade-5"></span>
    </div>
  </div>
  <div class="grid-content">
    <div class="color-block accent">
      <h3 class="content-color default">Accent</h3>
      <h5 class="content-color secondary">Secondary</h5>
      <h5 class="content-color tertiary">Tertiary</h5>
      <h5 class="content-color barely">Barely</h5>
      <h5 class="content-color hidden">Hidden</h5>
      <span class="shade-1"></span>
      <span class="shade-2"></span>
      <span class="shade-4"></span>
      <span class="shade-5"></span>
    </div>
  </div>
  <div class="grid-content">
    <div class="color-block alert">
      <h3 class="content-color default">Alert</h3>
      <h5 class="content-color secondary">Secondary</h5>
      <h5 class="content-color tertiary">Tertiary</h5>
      <h5 class="content-color barely">Barely</h5>
      <h5 class="content-color hidden">Hidden</h5>
      <span class="shade-1"></span>
      <span class="shade-2"></span>
      <span class="shade-4"></span>
      <span class="shade-5"></span>
    </div>
  </div>
  <div class="grid-content">
    <div class="color-block success">
      <h3 class="content-color default">Success</h3>
      <h5 class="content-color secondary">Secondary</h5>
      <h5 class="content-color tertiary">Tertiary</h5>
      <h5 class="content-color barely">Barely</h5>
      <h5 class="content-color hidden">Hidden</h5>
      <span class="shade-1"></span>
      <span class="shade-2"></span>
      <span class="shade-4"></span>
      <span class="shade-5"></span>
    </div>
  </div>
</div>