<div id="messages-list">
  <section class="sidebar-block-list">
    <form>
  	  <span class="inline-label"><input type="search" placeholder="Find...">
  	    <button class="button" type="submit"><span class="fa fa-search"></span></button></span>
  	</form>
  </section>
  <section class="sidebar-block-list">
    <header>Pinned</header>
    <ul class="slim-list">

      <li class="item with-extra" ng-repeat="$i in [1,2,3,4] track by $index" ng-class="{'unavailable': $index > 1}">
        <a ui-sref="messages">
          <span class="img">
            <span ng-include="'templates/components/_user-image.html'" class="small hide-for-medium-up"></span>
            <i ng-if="$index <= 1" class="fa fa-circle"></i>
          </span>
          <span class="content">
            <h5><span ng-if="$index > 1">Un</span>Available User</h5>
          </span>
          <span ng-if="$odd" class="extra">
            <span class="label">4</span>
          </span>
        </a>
      </li>

      <zf-accordion auto-open="false" >
        <zf-accordion-item title="&hellip; show all">
          <li class="item with-extra" ng-repeat="$i in [1,2] track by $index" ng-class="{'unavailable': $index <= 1}">
            <a ui-sref="messages">
              <span class="img">
                <span ng-include="'templates/components/_user-image.html'" class="small hide-for-medium-up"></span>
                <i ng-if="$index > 1" class="fa fa-circle"></i>
              </span>
              <span class="content">
                <h5><span ng-if="$index <= 1">Un</span>Available User</h5>
              </span>
              <span ng-if="$odd" class="extra">
                <span class="label">4</span>
              </span>
            </a>
          </li>
        </zf-accordion-item>
      </zf-accordion>

    </ul>
  </section>

  <section class="sidebar-block-list">
    <header>Groups</header>
    <ul class="slim-list">
      <li class="item" ng-repeat="$i in [1,2] track by $index" ng-class="{'is-active': $first}"><a ui-sref="messages">
        <span class="img">
          <span ng-include="'templates/components/_group-image.html'" class="small hide-for-medium-up"></span>
        </span>
        <span class="content">
          <h5>Public Group</h5>
        </span>
      </a></li>
      <li class="item" ng-repeat="$i in [1,2] track by $index"><a ui-sref="messages">
        <span class="img">
          <span ng-include="'templates/components/_team-image.html'" class="small hide-for-medium-up"></span>
        </span>
        <span class="content">
          <h5>Private Team</h5>
        </span>
        <span class="extra">
          <span class="label">4</span>
        </span>
      </a></li>
    </ul>
  </section>

  <section class="sidebar-block-list">
    <header>People</header>
    <ul class="slim-list">
      <!-- DUPLICATED FROM TOP (PINNED) SECTION -->
      <li class="item with-extra" ng-repeat="$i in [1,2,3,4] track by $index" ng-class="{'unavailable': $index > 1}">
        <a ui-sref="messages">
          <span class="img">
            <span ng-include="'templates/components/_user-image.html'" class="small hide-for-medium-up"></span>
            <i ng-if="$index <= 1" class="fa fa-circle"></i>
          </span>
          <span class="content">
            <h5><span ng-if="$index > 1">Un</span>Available User</h5>
          </span>
          <span ng-if="$odd" class="extra">
            <span class="label">4</span>
          </span>
        </a>
      </li>

      <zf-accordion auto-open="false" >
        <zf-accordion-item title="&hellip; show all">
          <li class="item with-extra" ng-repeat="$i in [1,2] track by $index" ng-class="{'unavailable': $index <= 1}">
            <a ui-sref="messages">
              <span class="img">
                <span ng-include="'templates/components/_user-image.html'" class="small hide-for-medium-up"></span>
                <i ng-if="$index > 1" class="fa fa-circle"></i>
              </span>
              <span class="content">
                <h5><span ng-if="$index <= 1">Un</span>Available User</h5>
              </span>
              <span ng-if="$odd" class="extra">
                <span class="label">4</span>
              </span>
            </a>
          </li>
        </zf-accordion-item>
      </zf-accordion>
    </ul>
  </section>
</div>