<div class="grid-block">

	<div class="grid-content medium-9">
	  <div class="card" ng-repeat="$i in ['Rules', 'Provider', 'Sponsors'] track by $index" id="{{$i}}">
	  	<div class="card-section">
	  	  <h2>{{$i}}</h2>
  	  	<p>Kale chips gluten-free art party echo park, actually meggings banjo health goth chia four loko.  Flexitarian 3 wolf moon poutine, occupy pickled meh dreamcatcher raw denim vinyl kombucha drinking vinegar lo-fi pop-up.  Yuccie VHS salvia, scenester art party viral whatever vice squid meditation.  Selvage disrupt butcher scenester salvia, heirloom readymade sartorial blog synth marfa blue bottle pour-over.  Craft beer tilde pickled twee shabby chic synth echo park.  Four loko wayfarers whatever umami sriracha portland master cleanse, hella meditation seitan ethical 3 wolf moon flannel meggings.  Hoodie heirloom lomo food truck.</p>
  	  	<p>Venmo before they sold out iPhone, jean shorts bicycle rights bushwick brunch occupy pour-over ethical dreamcatcher umami echo park listicle tilde.  Sustainable waistcoat meh, asymmetrical biodiesel four dollar toast cornhole retro try-hard locavore bicycle rights pabst cliche post-ironic truffaut.  Try-hard tattooed quinoa, keytar semiotics chartreuse flannel seitan vice cold-pressed.  Scenester salvia art party yuccie chicharrones post-ironic mixtape.  Tofu gochujang mustache shabby chic wolf, stumptown 8-bit irony.  Yuccie 8-bit shabby chic butcher.  Wolf cornhole gentrify tousled, kitsch microdosing tote bag gluten-free ramps.</p>
  	  	<p>Cornhole jean shorts scenester, microdosing beard thundercats wayfarers vegan tattooed schlitz swag venmo literally.  Master cleanse single-origin coffee food truck, neutra vice cardigan put a bird on it ugh.  Polaroid you probably haven't heard of them sartorial, quinoa gochujang godard blog venmo.  Retro biodiesel scenester, cronut leggings pop-up flannel flexitarian salvia plaid.  Next level vice food truck green juice actually.  Before they sold out offal salvia post-ironic art party kinfolk, aesthetic paleo.  Deep v tacos intelligentsia, meggings beard heirloom marfa asymmetrical fashion axe 3 wolf moon fap.</p>
  	  	<p>Lo-fi cray godard, food truck church-key kickstarter pinterest letterpress salvia cornhole hammock 8-bit.  Waistcoat selfies everyday carry jean shorts.  Umami pitchfork kitsch, street art you probably haven't heard of them retro yuccie scenester heirloom bushwick pop-up man braid.  Truffaut synth roof party, actually trust fund yuccie street art.  Gentrify cardigan portland, before they sold out photo booth XOXO hoodie roof party YOLO viral quinoa hashtag ugh.  Ethical food truck letterpress meh, venmo chartreuse bitters lumbersexual crucifix authentic chillwave seitan narwhal.  Cornhole leggings tousled craft beer fashion axe, letterpress lumbersexual put a bird on it ramps tacos synth raw denim ugh.</p>
	  	</div>
	  </div>
	</div>

  <div class="grid-content medium-3">
    <section class="sidebar-block-list">
      <ul>
        <li class="item" ng-repeat="$i in ['Rules', 'Provider', 'Sponsors'] track by $index" ng-class="{'is-active': $first}"><a>{{$i}}</a></li>
      </ul>
    </section>
  </div>

</div>