---
name: messages.content
url: /content
animationIn: slideInRight
animationOut: slideOutRight
---

<div class="grid-block vertical">

  <div id="messages-title" class="grid-content shrink">
    <h2>NYU – League of Legends</h2>
  </div>

  <div id="messages-content" class="grid-content">

    <div class="message grid-block nowrap">
      <div class="content grid-content">
        <div class="card flat">
          <h3>Message</h3>
        </div>
      </div>
    </div>

  </div>

  <div id="messages-input" class="grid-content shrink">
    <textarea name="" id="" rows="2"></textarea>
  </div>

</div>