---
name: home.account
url: /account
---

<div class="grid-content small-12 medium-4">
    <h6>Link Accounts</h6>
    <hr>
    <ul class="no-bullet">
    	<li><a href="" class="button expand"><i class="fa fa-facebook"></i> Facebook</a></li>
    	<li><a href="" class="button expand"><i class="fa fa-twitter"></i> Twitter</a></li>
    </ul>
</div>

<div class="grid-content small-12 medium-8">
  <div class="card">
    	<form action="">
        <div class="card-section">
          <h2>Change details</h2>
    	  	<input type="text" placeholder="New User Name" value="User Name">
    	  	<input type="email" placeholder="Email" value="username@example.com">
          <h2>Change password</h2>
    	  	<input type="password" placeholder="current password">
    	  	<input type="password" placeholder="new password">
    	  	<input type="password" placeholder="retype new password">
  	  	</div>
    	  <div class="card-action">
    	  	<button class="button pull-right" type="submit">Update</button>
    	  </div>
    	</form>
  </div>
</div>